apiVersion: v1
kind: Service
metadata:
  labels:
    app: maven-jar
  name: maven-jar
spec:
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: maven-jar
